<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Licitaciones</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar animated
                  (ionChange)="buscar( $event )">
  </ion-searchbar>



  <ion-item *ngFor="let dato of datos | filtro: textoBuscar">
  <ion-card>
       <ion-card-header>
         <ion-card-subtitle>Cedula: {{ dato.Cedula}}</ion-card-subtitle>
         <ion-card-subtitle>Nombre: {{ dato.NombreObraPublica }}</ion-card-subtitle>
       </ion-card-header>
       <ion-card-content>
         <p>Instancia Ejecutora: {{dato.InstanciaEjecutora}}</p>
         <p>Fecha: {{dato.FechaInicioContrato}}</p>
       </ion-card-content>
     </ion-card>
    </ion-item>


</ion-content>
