/*
.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B4E9F7;
}
*/

/*
.spinner {
  // your animation code (SpinKit used in this demo)
  width: 22vw;
  height: 22vw;
  background-color: #FFFFFF;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
*/

.imagenMenu{
  width: 50px;
  height: 50px;
  display:block;
  margin:auto;
  color:black;
}
