<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mas relevante</ion-title>

    <ion-buttons slot="start">
   <ion-back-button routerLink="/home"></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="masters">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <!--
  <ion-card color="secondary">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>
Rehabilitación del hospital general de cancún</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h2>De abril a julio de 2017 en el nuevo Hospital General de Cancún “Jesús Kumate Rodríguez”
      se otorgaron 105 mil 710 servicios con lo cual se da cumplimiento a la encomienda del Gobernador Carlos Joaquín de brindar
      a la gente más y mejores oportunidades de acceso a servicios de salud oportunos y de calidad, informó la secretaria de Salud en el Estado</h2>
    <img src="assets/imagenes/CA30NOV0401B.jpg">
  </ion-card-content>
</ion-card>
-->
</ion-item>



<ion-slides>

        <ion-slide>

          <img src="assets/imagenes/CA30NOV0401B.jpg">

        </ion-slide>

        <ion-slide>
          <img src="assets/imagenes/m_vinieta_amarilla.png"/>
          <h2>What is Ionic?</h2>
          <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/imagenes/m_vinieta_amarilla.png"/>
          <h2>What is Ionic Pro?</h2>
          <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/imagenes/m_vinieta_amarilla.png"/>
          <h2>Ready to Play?</h2>
          <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>


</ion-content>
