<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mas relevante</ion-title>

    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="masters">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-card>
  <ion-slides>
    <ion-slide><img src="assets/imagenes/CA30NOV0401B.jpg"></ion-slide>
    <ion-slide><img src="assets/imagenes/CA30NOV0401B.jpg"></ion-slide>
    <ion-slide><img src="assets/imagenes/CA30NOV0401B.jpg"></ion-slide>
  </ion-slides>
  <ion-button color="primary" expand="full" (click)="presentAlert()">Mas detalles</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Cancún, Quintana Roo</ion-card-subtitle>
        <ion-card-title>Hospital General de Cancún”</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        De abril a julio de 2017 en el nuevo Hospital General de Cancún “Jesús Kumate Rodríguez”
        se otorgaron 105 mil 710 servicios con lo cual se da cumplimiento a la encomienda del Gobernador Carlos Joaquín de brindar
        a la gente más y mejores oportunidades de acceso a servicios de salud oportunos y de calidad, informó la secretaria de Salud en el Estado
      </ion-card-content>
    </ion-card>



</ion-content>
