<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Noticias</ion-title>

    <ion-buttons slot="start">
   <ion-back-button routerLink="/home"></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>
Rehabilitación del hospital general de cancún</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h2>De abril a julio de 2017 en el nuevo Hospital General de Cancún “Jesús Kumate Rodríguez”
      se otorgaron 105 mil 710 servicios con lo cual se da cumplimiento a la encomienda del Gobernador Carlos Joaquín de brindar
      a la gente más y mejores oportunidades de acceso a servicios de salud oportunos y de calidad, informó la secretaria de Salud en el Estado</h2>
    <img src="assets/imagenes/CA30NOV0401B.jpg">
  </ion-card-content>
</ion-card>
</ion-item>

<ion-item>
  <h1>ASDFG</h1>
</ion-item>

<ion-item>
  <h1>ASDFG</h1>
</ion-item>

<ion-item>
  <h1>ASDFG</h1>
</ion-item>



</ion-content>
