ion-content .padding{
  background-color: black;
}

.headerGob{
    background-image: url("/assets/imagenes/header_QC2.png");
}

#principal{
  background-image: url("/assets/imagenes/headerCancunfondo.jpg");
}

/*##################################################################

                          PARTE 1

    ##################################################################*/

.seccion1{
  top: 100px;
}


.vinietaAmarilla {
  width: 15%;
  height: 15%;
}

.img1{
  height: 100px;
  width: 100px;
  margin-right: 10%;
}

.ion-margin-top{
  margin-top: 100px;
}

/*##################################################################

                          PARTE 2

    ##################################################################*/



    /*##################################################################

                              PARTE 3

        ##################################################################*/

.img2 {
  margin-top: 20px;
  height: 150px;
  width: 200px;
  display:block;
  margin:auto;
}
.texto2 {
  margin-top: 100px;
}
