<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Vigila tu obra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <div id="principal">
        <!--##################################################################

                                  PARTE 1

            ##################################################################-->
  <div class="seccion1">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <div class="vinietaAmarilla">
          <img src="assets/imagenes/m_vinieta_amarilla.png">
        </div>
        <ion-card-title>Vigila tu obra te da la bienvenida</ion-card-title>
        <img src="assets/imagenes/pleca.jpg">
      </ion-card-header>

      <ion-card-content>

        <ion-item color="dark">
          <h2>Vigila tu obra es un portal desarrollado para la rendición de cuentas
              y el ágil acceso del ciudadano a la información sobre el progreso de
              las licitaciones y obras públicas del Estado de Quintana Roo.</h2>
        </ion-item>

        <ion-item color="dark">
          <h2>Conoce el programa</h2>
          <div class="img1">
            <img src="assets/imagenes/logo300pueblosColores.png">
          </div>
        </ion-item>

        <ion-item color="dark">
          <h2>Conoce el programa oficinas transparentes</h2>
          <div class="img1">
            <img src="assets/imagenes/Oficina1.png">
          </div>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>

            <!--##################################################################

                                      PARTE 2

                ##################################################################-->

  <div class="seccion2">
    <iframe width="375" height="500"
            src="https://www.youtube.com/embed/zQfIcgEI-Cg?controls=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>

             <!--##################################################################

                                       PARTE 3

                 ##################################################################-->

  <div class="seccion3">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <div class="vinietaAmarilla">
          <img src="assets/imagenes/m_vinieta_amarilla.png">
        </div>
        <ion-card-title></ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item color="dark">
          <div class="texto2">
            <h2>¿Sabias que como cuidadano cuentas con una herramienta para Denunciar
                actos o conductas inadecuadas de serviores publicos?</h2>
            </div>
          </ion-item>
          <img src="assets/imagenes/pleca.jpg">
          <div class="img2">
            <img src="assets/imagenes/IndexTakPoolPhone.png">
          </div>
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>
